:root{
    --black: rgb(0, 0, 0);
    --max-width: 1500px;
    --font-family: arial;
}

* {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

h2{
    font-size: 30px;
    font-family: var(--font-family);
}

.search{
    padding-bottom: 3rem;
}

.mainpage-movie{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.movie-card{
    display:flex;
    flex-direction: column;
    padding: 0 0 2rem 5rem;
    max-width: 500px;
    width: 100%;
    h2{
        padding-left: 1rem;
        font-size: 35px;
        color: var(--black);
    }
    .images{ 
        padding-left: 1rem;
        width: 300px;
    }
    .more-info-button{
        margin-left: 1rem;
        height: 40px;
        width: 150px;
        font-size: 15px;
        font-family: var(--font-family)
    }
    p{
        padding-left: 1rem;
    }

    
}

body{
    color:var(--black);


}

.container{
    width: 100%;
}

header{
    padding: 5px 0 5px 0;
    text-align: center;
}

main{
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

p{
    font-size: 17px;
    font-family: var(--font-family);
}

.search-bar{
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 auto;
    
}

.search-button{
    height: 40px;
    width: 50px;
}

.search-field{
    height: 40px;
    width: 600px;

}

.pageTitle{
    color:black;
    
}

.type-name{
    text-transform:capitalize;
}

@media only screen and (min-width: 1281px) and (max-width: 1500px) {

    .movie-card{
        margin: 0 auto;
        h2{
            font-size: 25px;
        }
        .images{
            width: 250px;
        }
    }
    
}

@media only screen and (min-width: 849px) and (max-width: 1280px) {
    
    .movie-card{
        margin: 0 auto;
        h2{
            font-size: 25px;
        }
        .images{
            width: 250px;
        }
        p{
            font-size: 17px;
        }
    }   
}

@media only screen and (min-width: 850px) and (max-width: 1000px){
    
    .movie-card{
        padding-left: 0;
        text-align: center;
        h2{
            padding-left: 0;
        }
        .images{
            padding-left: 0;
        }
        p{
            padding-left: 0;
        }
    }

    .search-field{

        width: 300px;

    }
}


@media only screen and (max-width: 849px) {
    
    .mainpage-movie{
        flex-direction: column;
    }
    
    .movie-card{
        max-width: 300px;
        padding-left: 0;
        text-align: center;
        h2{
            font-size: 20px;
            padding-left: 0;
        }
        .images{
            width: 200px;
            padding-left: 0;
        }
        p{
            font-size: 14px;
            padding-left: 0;
        }
    }

    .search-field{
        height: 40px;
        width: 300px;
    
    }
}