:root{
    --black: 000000;
    --max-width: 1500px;
    --baby-blue: rgb(137, 207, 240);
}

* {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

.search{
    padding-bottom: 3rem;
}

section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

article{
    padding-left: 2rem;
    max-width: 500px;
    width: 100%;
}

body{
    color:var(--black);
}

.container{
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: var(--baby-blue);
    padding: 5px 0 5px 0;
}

.h2-title{
    padding-left: 1rem;
}

.images{
    width: 250px;
}

main{
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    
}

.search-bar{
    padding: 2rem 0 1rem 8.3rem;
    
}

.search-button{
    height: 30px;
}

.search-field{
    height: 30px;
    width: 500px;
}

.sideTitle{
    color:black;
    padding-left: 8.3rem;
}

.type-name{
    text-transform:capitalize;
}